In [1]:
# Importing Necessary Dependencies 
import pandas as pd
import matplotlib.pyplot as plt
import requests
from datetime import datetime

# Import the Financial Modeling Prep API key
from api_keys import financial_api_key

In [2]:
# Setting Up APIs To Obtain Rivian's Balance Sheet Data, Income Statement Data, And Statement Of Cash Flows For Last 4 Years
rivian_ticker = "RIVN"

# Request For Balance Sheet Data
balance_sheet_url = f"https://financialmodelingprep.com/api/v3/balance-sheet-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_balance_sheet = requests.get(balance_sheet_url).json()

# Request For Income Statement Data
income_statement_url = f"https://financialmodelingprep.com/api/v3/income-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_income_statement = requests.get(income_statement_url).json()


# Request for Cash Flow Statement Data
cash_flow_statement_url = f"https://financialmodelingprep.com/api/v3/cash-flow-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_cash_flow_statement = requests.get(cash_flow_statement_url).json()

In [3]:
# Cleaning Rivian's Balance Sheets Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_balance_sheet_df = pd.DataFrame(rivian_balance_sheet)

# Dropping All Unnecessary Columns
rivian_balance_sheet_df = rivian_balance_sheet_df.drop(columns = ["date", "symbol", "reportedCurrency",
                                                                  "cik", "fillingDate", "acceptedDate",
                                                                  "period", "cashAndShortTermInvestments","goodwillAndIntangibleAssets",
                                                                  "totalEquity", "minorityInterest", "totalLiabilitiesAndTotalEquity",
                                                                  "totalInvestments", "link", "finalLink",
                                                                  "otherAssets"])

# Renaming All Columns
rivian_balance_sheet_df = rivian_balance_sheet_df.rename(columns = {"calendarYear" : "Year",
                                                                    "cashAndCashEquivalents" : "Cash/Cash-Equivalents",
                                                                    "shortTermInvestments" : "Short-Term Investments",
                                                                    "netReceivables" : "Account Receivables",
                                                                    "inventory" : "Inventory",
                                                                    "otherCurrentAssets" : "Other Current Assets",
                                                                    "totalCurrentAssets" : "Total Current Assets",
                                                                    "propertyPlantEquipmentNet" : "Property Plant & Equipment (PPE)",
                                                                    "goodwill" : "Goodwill",
                                                                    "intangibleAssets" : "Intangible Assets",
                                                                    "longTermInvestments" : "Long-Term Investments",
                                                                    "taxAssets" : "Tax Assets",
                                                                    "otherNonCurrentAssets" : "Other Non-Current Assets",
                                                                    "totalNonCurrentAssets" : "Total Non-Current Assets",
                                                                    "otherAssets" : "Other Assets",
                                                                    "totalAssets" : "Total Assets",
                                                                    "accountPayables" : "Account Payables",
                                                                    "shortTermDebt" : "Short-Term Debt",
                                                                    "taxPayables" : "Tax Payables",
                                                                    "deferredRevenue" : "Deferred Revenue",
                                                                    "otherCurrentLiabilities" : "Other Current Liabilities",
                                                                    "totalCurrentLiabilities" : "Total Current Liabilities",
                                                                    "longTermDebt" : "Long-Term Debt",
                                                                    "deferredRevenueNonCurrent" : "Deferred Revenue Non-Current",
                                                                    "deferredTaxLiabilitiesNonCurrent" : "Deferred Tax Liabilities Non-Current",
                                                                    "otherNonCurrentLiabilities" : "Other Non-Current Liabilities",
                                                                    "totalNonCurrentLiabilities" : "Total Non-Current Liabilities",
                                                                    "otherLiabilities" : "Other Liabilities",
                                                                    "capitalLeaseObligations" : "Capital Lease Obligations",
                                                                    "totalLiabilities" : "Total Liabilities",
                                                                    "preferredStock" : "Preferred Stock",
                                                                    "commonStock" : "Common Stock",
                                                                    "retainedEarnings" : "Retained Earnings",
                                                                    "accumulatedOtherComprehensiveIncomeLoss" : "Accumulated Other Comprehensive Income Loss",
                                                                    "othertotalStockholdersEquity" : "Other Stockholders' Equity",
                                                                    "totalStockholdersEquity" : "Total Stockholders' Equity",
                                                                    "totalLiabilitiesAndStockholdersEquity" : "Total Liabilities & Stockholders' Equity",
                                                                    "totalDebt" : "Total Debt",
                                                                    "netDebt" : "Net Debt"})

# Setting DataFrame Index to "Year"
rivian_balance_sheet_df = rivian_balance_sheet_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_balance_sheet_df_currency_styled = rivian_balance_sheet_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Balance Sheet For Rivian's Last 4 Years
rivian_balance_sheet_df_currency_styled

In [4]:
# Cleaning Rivian's Income Statements Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_income_statement_df = pd.DataFrame(rivian_income_statement)

# Dropping All Unnecessary Columns
rivian_income_statement_df = rivian_income_statement_df.drop(columns = ["date", "symbol", "reportedCurrency",
                                                                        "cik", "fillingDate", "acceptedDate",
                                                                        "period", "generalAndAdministrativeExpenses", "ebitdaratio", 
                                                                        "grossProfitRatio", "sellingAndMarketingExpenses", "operatingIncomeRatio", 
                                                                        "incomeBeforeTaxRatio", "netIncomeRatio", "link", 
                                                                        "finalLink"])

# Renaming all columns
rivian_income_statement_df = rivian_income_statement_df.rename(columns = {"calendarYear" : "Year",
                                                                          "revenue" : "Revenue",
                                                                          "costOfRevenue" : "Cost of Goods Sold",
                                                                          "grossProfit" : "Gross Profit",
                                                                          "researchAndDevelopmentExpenses" : "Research & Development Expenses",
                                                                          "sellingGeneralAndAdministrativeExpenses" : "Selling General & Administrative Expenses",
                                                                          "otherExpenses" : "Other Expenses",
                                                                          "operatingExpenses" : "Total Operating Expenses",
                                                                          "costAndExpenses" : "Total COGS & Expenses",
                                                                          "interestIncome" : "Interest Income",
                                                                          "interestExpense" : "Interest Expense",
                                                                          "depreciationAndAmortization" : "Depreciation & Amortization",
                                                                          "ebitda" : "Earnings Before Interest, Taxes, Depreciation, & Amortization (EBITDA)",
                                                                          "operatingIncome" : "Operating Income",
                                                                          "totalOtherIncomeExpensesNet" : "Total Other Income Expenses",
                                                                          "incomeBeforeTax" : "Income Before Tax",
                                                                          "incomeTaxExpense" : "Income Tax Expense",
                                                                          "netIncome" : "Net Income",
                                                                          "eps" : "Earnings Per Share",
                                                                          "epsdiluted" : "Earnings Per Share Diluted",
                                                                          "weightedAverageShsOut" : "Weighted Average Shares Outstanding",
                                                                          "weightedAverageShsOutDil" : "Weighted Average Shares Outstanding Diluted"})

# Setting DataFrame Index to "Year"
rivian_income_statement_df = rivian_income_statement_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_income_statement_df_currency_styled = rivian_income_statement_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Income Statement For Rivian's Last 4 Years
rivian_income_statement_df_currency_styled

In [5]:
# Cleaning Rivian's Cash Flow Statements Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_cash_flow_statement_df = pd.DataFrame(rivian_cash_flow_statement)

# Dropping All Unnecessary Columns
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.drop(columns = ["date", "symbol", "reportedCurrency",
                                                                             "cik", "fillingDate", "acceptedDate",
                                                                             "period", "link", "finalLink"])

# Renaming All Columns
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.rename(columns = {"calendarYear" : "Year",
                                                                               "netIncome" : "Net Income",
                                                                                "depreciationAndAmortization" : "Depreciation & Amortization",
                                                                               "deferredIncomeTax" : "Deferred Income Tax",
                                                                                "stockBasedCompensation" : "Stock-Based Compensation",
                                                                               "changeInWorkingCapital" : "Change In Working Capital",
                                                                                "accountsReceivables" : "Accounts Receivable",
                                                                               "inventory" : "Inventory", 
                                                                                "accountsPayables" : "Account Payables",
                                                                                "otherWorkingCapital" : "Other Working Capital",
                                                                               "otherNonCashItems" : "Other Non-Cash Items",
                                                                               "netCashProvidedByOperatingActivities" : "Net Cash Flow From Operating Activities",
                                                                               "investmentsInPropertyPlantAndEquipment" : "Property Plant & Equipment Investments",
                                                                               "acquisitionsNet" : "Net Acquisitions",
                                                                               "purchasesOfInvestments" : "Invesment Purchases",
                                                                               "salesMaturitiesOfInvestments" : "Investment Maturities Sales",
                                                                               "otherInvestingActivites" : "Other Investing Activities",
                                                                               "netCashUsedForInvestingActivites" : "Net Cash Flow From Investing Activities",
                                                                               "debtRepayment" : "Debt Repayment",
                                                                               "commonStockIssued" : "Common Stock Issued",
                                                                               "commonStockRepurchased" : "Common Stock Repurchased",
                                                                               "dividendsPaid" : "Dividends Paid",
                                                                               "otherFinancingActivites" : "Other Financing Activities",
                                                                               "netCashUsedProvidedByFinancingActivities" : "Net Cash Flow From Financing Activities",
                                                                               "effectOfForexChangesOnCash" : "Effect Of Exchange Rate Changes On Cash",
                                                                               "netChangeInCash" : "Net Change In Cash",
                                                                               "cashAtEndOfPeriod" : "Cash At End Of Period",
                                                                               "cashAtBeginningOfPeriod" : "Cash At Beginning Of Period",
                                                                               "operatingCashFlow" : "Operating Cash Flow",
                                                                               "capitalExpenditure" : "Capital Expenditure",
                                                                               "freeCashFlow" : "Free Cash Flow"})

# Setting DataFrame Index to "Year"
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_cash_flow_statement_df_currency_styled = rivian_cash_flow_statement_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Cash Flow Statement For Rivian's Last 4 Years
rivian_cash_flow_statement_df_currency_styled

In [6]:
### Liquidity Ratios

# 1. Current Ratio = Current Assets / Current Liabilities
current_ratio_2019 = rivian_balance_sheet_df.iloc[3, 5] / rivian_balance_sheet_df.iloc[3, 19]
current_ratio_2020 = rivian_balance_sheet_df.iloc[2, 5] / rivian_balance_sheet_df.iloc[2, 19]
current_ratio_2021 = rivian_balance_sheet_df.iloc[1, 5] / rivian_balance_sheet_df.iloc[1, 19]
current_ratio_2022 = rivian_balance_sheet_df.iloc[0, 5] / rivian_balance_sheet_df.iloc[0, 19]

# 2. Operating Cash Flow Ratio = Net Operating Cash Flow / Current Liabilities
operating_cash_flow_2019 = rivian_cash_flow_statement_df.iloc[3, 10] / rivian_balance_sheet_df.iloc[3, 19]
operating_cash_flow_2020 = rivian_cash_flow_statement_df.iloc[2, 10] / rivian_balance_sheet_df.iloc[2, 19]
operating_cash_flow_2021 = rivian_cash_flow_statement_df.iloc[1, 10] / rivian_balance_sheet_df.iloc[1, 19]
operating_cash_flow_2022 = rivian_cash_flow_statement_df.iloc[0, 10] / rivian_balance_sheet_df.iloc[0, 19]

In [7]:
### Leverage Financial Ratios

# 1. Debt Ratio = Total Liabilities / Total Assets
debt_ratio_2019 = rivian_balance_sheet_df.iloc[3, 27] / rivian_balance_sheet_df.iloc[3, 13]
debt_ratio_2020 = rivian_balance_sheet_df.iloc[2, 27] / rivian_balance_sheet_df.iloc[2, 13]
debt_ratio_2021 = rivian_balance_sheet_df.iloc[1, 27] / rivian_balance_sheet_df.iloc[1, 13]
debt_ratio_2022 = rivian_balance_sheet_df.iloc[0, 27] / rivian_balance_sheet_df.iloc[0, 13]

# 2. Debt Service Coverage Ratio = Operating Income / Total Debt
debt_service_coverage_ratio_2019 = rivian_income_statement_df.iloc[3, 12] / rivian_balance_sheet_df.iloc[3, 35]
debt_service_coverage_ratio_2020 = rivian_income_statement_df.iloc[2, 12] / rivian_balance_sheet_df.iloc[2, 35]
debt_service_coverage_ratio_2021 = rivian_income_statement_df.iloc[1, 12] / rivian_balance_sheet_df.iloc[1, 35]
debt_service_coverage_ratio_2022 = rivian_income_statement_df.iloc[0, 12] / rivian_balance_sheet_df.iloc[0, 35]

In [8]:
### Efficiency Ratios

# 1. Asset Turnover Ratio = Revenue / Average Total Assets 
## Average Total Assets = (Total Assets Current Year + Total Assets Previous Year) / 2 
average_total_assets_2020 = (rivian_balance_sheet_df.iloc[2, 13] + rivian_balance_sheet_df.iloc[3, 13]) / 2
asset_turnover_ratio_2020 = rivian_income_statement_df.iloc[2, 0] / average_total_assets_2020

average_total_assets_2021 = (rivian_balance_sheet_df.iloc[1, 13] + rivian_balance_sheet_df.iloc[2, 13]) / 2
asset_turnover_ratio_2021 = rivian_income_statement_df.iloc[1, 0] / average_total_assets_2021

average_total_assets_2022 = (rivian_balance_sheet_df.iloc[0, 13] + rivian_balance_sheet_df.iloc[1, 13]) / 2
asset_turnover_ratio_2022 = rivian_income_statement_df.iloc[0, 0] / average_total_assets_2022

# 2. Inventory Turnover Ratio = Cost Of Goods Sold / Average Inventory
## Average Inventory = (Beginning Inventory Current Year + Ending Inventory Previous Year) / 2 
average_inventory_2020 = (rivian_balance_sheet_df.iloc[2, 3] + rivian_balance_sheet_df.iloc[3, 3]) / 2
average_inventory_2021 = (rivian_balance_sheet_df.iloc[1, 3] + rivian_balance_sheet_df.iloc[2, 3]) / 2
average_inventory_2022 = (rivian_balance_sheet_df.iloc[0, 3] + rivian_balance_sheet_df.iloc[1, 3]) / 2

if average_inventory_2020 != 0:
    inventory_turnover_ratio_2020 = rivian_income_statement_df.iloc[2, 1] / average_inventory_2020
else:
    inventory_turnover_ratio_2020 = 0
    
if average_inventory_2021 != 0:
    inventory_turnover_ratio_2021 = rivian_income_statement_df.iloc[1, 1] / average_inventory_2021
else:
    inventory_turnover_ratio_2021 = 0

if average_inventory_2022 != 0:
    inventory_turnover_ratio_2022 = rivian_income_statement_df.iloc[0, 1] / average_inventory_2022
else:
    inventory_turnover_ratio_2022 = 0

In [9]:
### Profitability Ratios

# 1. Gross Margin Ratio = Gross Profit / Revenue
if rivian_income_statement_df.iloc[3, 0] != 0:
    gross_margin_ratio_2019 = rivian_income_statement_df.iloc[3, 2] / rivian_income_statement_df.iloc[3, 0]
else:
    gross_margin_ratio_2019 = 0
    
if rivian_income_statement_df.iloc[2, 0] != 0:
    gross_margin_ratio_2020 = rivian_income_statement_df.iloc[2, 2] / rivian_income_statement_df.iloc[2, 0]
else:
    gross_margin_ratio_2020 = 0
    
if rivian_income_statement_df.iloc[1, 0] != 0:
    gross_margin_ratio_2021 = rivian_income_statement_df.iloc[1, 2] / rivian_income_statement_df.iloc[1, 0]
else:
    gross_margin_ratio_2021 = 0
    
if rivian_income_statement_df.iloc[0, 0] != 0:
    gross_margin_ratio_2022 = rivian_income_statement_df.iloc[0, 2] / rivian_income_statement_df.iloc[0, 0]
else:
    gross_margin_ratio_2022 = 0

# 2. Return On Assets Ratio = Net Income / Total Assets
return_on_assets_ratio_2019 = rivian_cash_flow_statement_df.iloc[3, 0] / rivian_balance_sheet_df.iloc[3, 13]
return_on_assets_ratio_2020 = rivian_cash_flow_statement_df.iloc[2, 0] / rivian_balance_sheet_df.iloc[2, 13]
return_on_assets_ratio_2021 = rivian_cash_flow_statement_df.iloc[1, 0] / rivian_balance_sheet_df.iloc[1, 13]
return_on_assets_ratio_2022 = rivian_cash_flow_statement_df.iloc[0, 0] / rivian_balance_sheet_df.iloc[0, 13]

In [10]:
### Market Value Ratios

# 1. Earnings Per Share Ratio = Net Income / Total Shares Outstanding
earnings_per_share_ratio_2019 = round(rivian_cash_flow_statement_df.iloc[3, 0] / rivian_income_statement_df.iloc[3, 19], 2)
earnings_per_share_ratio_2020 = round(rivian_cash_flow_statement_df.iloc[2, 0] / rivian_income_statement_df.iloc[2, 19], 2)
earnings_per_share_ratio_2021 = round(rivian_cash_flow_statement_df.iloc[1, 0] / rivian_income_statement_df.iloc[1, 19], 2)
earnings_per_share_ratio_2022 = round(rivian_cash_flow_statement_df.iloc[0, 0] / rivian_income_statement_df.iloc[0, 19], 2)

# 2. Price-Earnings Ratio = Share Price / Earnings Per Share
share_price_end_2019 = 0
share_price_end_2020 = 0
share_price_end_2021 = 103.69
share_price_end_2022 = 18.43

price_earnings_ratio_2019 = share_price_end_2019 / earnings_per_share_ratio_2019
price_earnings_ratio_2020 = share_price_end_2020 / earnings_per_share_ratio_2020
price_earnings_ratio_2021 = share_price_end_2021 / earnings_per_share_ratio_2021
price_earnings_ratio_2022 = share_price_end_2022 / earnings_per_share_ratio_2022