In [1]:
# Importing Necessary Dependencies 
import pandas as pd
import matplotlib.pyplot as plt
import requests
from datetime import datetime

# Import the Financial Modeling Prep API key
from api_keys import financial_api_key

In [2]:
# Setting Up APIs To Obtain Rivian's Balance Sheet Data, Income Statement Data, And Statement Of Cash Flows For Last 4 Years
rivian_ticker = "RIVN"

# Request For Balance Sheet Data
balance_sheet_url = f"https://financialmodelingprep.com/api/v3/balance-sheet-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_balance_sheet = requests.get(balance_sheet_url).json()

# Request For Income Statement Data
income_statement_url = f"https://financialmodelingprep.com/api/v3/income-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_income_statement = requests.get(income_statement_url).json()

# Request for Cash Flow Statement Data
cash_flow_statement_url = f"https://financialmodelingprep.com/api/v3/cash-flow-statement/{rivian_ticker}?limit=120&apikey={financial_api_key}"
rivian_cash_flow_statement = requests.get(cash_flow_statement_url).json()

In [3]:
# Cleaning Rivian's Balance Sheets Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_balance_sheet_df = pd.DataFrame(rivian_balance_sheet)

# Dropping All Unnecessary Columns
rivian_balance_sheet_df = rivian_balance_sheet_df.drop(columns = ["date", "symbol", "reportedCurrency", 
                                                                  "cik", "fillingDate", "acceptedDate", 
                                                                  "period", "cashAndShortTermInvestments",
                                                                  "goodwillAndIntangibleAssets", "totalEquity", 
                                                                  "minorityInterest", "totalLiabilitiesAndTotalEquity",
                                                                  "totalInvestments", "link", "finalLink",
                                                                  "otherAssets"])

# Renaming All Columns
rivian_balance_sheet_df = rivian_balance_sheet_df.rename(columns = {"calendarYear" : "Year",
                                                                    "cashAndCashEquivalents" : "Cash/Cash-Equivalents",
                                                                    "shortTermInvestments" : "Short-Term Investments",
                                                                    "netReceivables" : "Account Receivables",
                                                                    "inventory" : "Inventory",
                                                                    "otherCurrentAssets" : "Other Current Assets",
                                                                    "totalCurrentAssets" : "Total Current Assets",
                                                                    "propertyPlantEquipmentNet" : "Property Plant & Equipment (PPE)",
                                                                    "goodwill" : "Goodwill",
                                                                    "intangibleAssets" : "Intangible Assets",
                                                                    "longTermInvestments" : "Long-Term Investments",
                                                                    "taxAssets" : "Tax Assets",
                                                                    "otherNonCurrentAssets" : "Other Non-Current Assets",
                                                                    "totalNonCurrentAssets" : "Total Non-Current Assets",
                                                                    "otherAssets" : "Other Assets",
                                                                    "totalAssets" : "Total Assets",
                                                                    "accountPayables" : "Account Payables",
                                                                    "shortTermDebt" : "Short-Term Debt",
                                                                    "taxPayables" : "Tax Payables",
                                                                    "deferredRevenue" : "Deferred Revenue",
                                                                    "otherCurrentLiabilities" : "Other Current Liabilities",
                                                                    "totalCurrentLiabilities" : "Total Current Liabilities",
                                                                    "longTermDebt" : "Long-Term Debt",
                                                                    "deferredRevenueNonCurrent" : "Deferred Revenue Non-Current",
                                                                    "deferredTaxLiabilitiesNonCurrent" : "Deferred Tax Liabilities Non-Current",
                                                                    "otherNonCurrentLiabilities" : "Other Non-Current Liabilities",
                                                                    "totalNonCurrentLiabilities" : "Total Non-Current Liabilities",
                                                                    "otherLiabilities" : "Other Liabilities",
                                                                    "capitalLeaseObligations" : "Capital Lease Obligations",
                                                                    "totalLiabilities" : "Total Liabilities",
                                                                    "preferredStock" : "Preferred Stock",
                                                                    "commonStock" : "Common Stock",
                                                                    "retainedEarnings" : "Retained Earnings",
                                                                    "accumulatedOtherComprehensiveIncomeLoss" : "Accumulated Other Comprehensive Income Loss",
                                                                    "othertotalStockholdersEquity" : "Other Stockholders' Equity",
                                                                    "totalStockholdersEquity" : "Total Stockholders' Equity",
                                                                    "totalLiabilitiesAndStockholdersEquity" : "Total Liabilities & Stockholders' Equity",
                                                                    "totalDebt" : "Total Debt",
                                                                    "netDebt" : "Net Debt"})

# Setting DataFrame Index to "Year"
rivian_balance_sheet_df = rivian_balance_sheet_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_balance_sheet_df_currency_styled = rivian_balance_sheet_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Balance Sheet For Rivian's Last 4 Years
rivian_balance_sheet_df_currency_styled

In [4]:
# Cleaning Rivian's Income Statements Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_income_statement_df = pd.DataFrame(rivian_income_statement)

# Dropping All Unnecessary Columns
rivian_income_statement_df = rivian_income_statement_df.drop(columns = ["date", "symbol", "reportedCurrency",
                                                                        "cik", "fillingDate", "acceptedDate",
                                                                        "period", "generalAndAdministrativeExpenses",
                                                                        "ebitdaratio", "grossProfitRatio", "sellingAndMarketingExpenses",
                                                                        "operatingIncomeRatio", "incomeBeforeTaxRatio", 
                                                                        "netIncomeRatio", "eps", "epsdiluted", 
                                                                        "weightedAverageShsOut", "weightedAverageShsOutDil",
                                                                        "link", "finalLink"])

# Renaming all columns
rivian_income_statement_df = rivian_income_statement_df.rename(columns = {"calendarYear" : "Year",
                                                                          "revenue" : "Revenue",
                                                                          "costOfRevenue" : "Cost of Goods Sold",
                                                                          "grossProfit" : "Gross Profit",
                                                                          "researchAndDevelopmentExpenses" : "Research & Development Expenses",
                                                                          "sellingGeneralAndAdministrativeExpenses" : "Selling General & Administrative Expenses",
                                                                          "otherExpenses" : "Other Expenses",
                                                                          "operatingExpenses" : "Total Operating Expenses",
                                                                          "costAndExpenses" : "Total COGS & Expenses",
                                                                          "interestIncome" : "Interest Income",
                                                                          "interestExpense" : "Interest Expense",
                                                                          "depreciationAndAmortization" : "Depreciation & Amortization",
                                                                          "ebitda" : "Earnings Before Interest, Taxes, Depreciation, & Amortization (EBITDA)",
                                                                          "operatingIncome" : "Operating Income",
                                                                          "totalOtherIncomeExpensesNet" : "Total Other Income Expenses",
                                                                          "incomeBeforeTax" : "Income Before Tax",
                                                                          "incomeTaxExpense" : "Income Tax Expense",
                                                                          "netIncome" : "Net Income"})

# Setting DataFrame Index to "Year"
rivian_income_statement_df = rivian_income_statement_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_income_statement_df_currency_styled = rivian_income_statement_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Income Statement For Rivian's Last 4 Years
rivian_income_statement_df_currency_styled

In [5]:
# Cleaning Rivian's Cash Flow Statements Data In Pandas DataFrame
pd.set_option('display.max_columns', None)
rivian_cash_flow_statement_df = pd.DataFrame(rivian_cash_flow_statement)

# Dropping All Unnecessary Columns
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.drop(columns = ["date", "symbol", "reportedCurrency",
                                                                             "cik", "fillingDate", "acceptedDate",
                                                                             "period", "link", "finalLink"])

# Renaming All Columns
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.rename(columns = {"calendarYear" : "Year",
                                                                               "netIncome" : "Net Income",
                                                                                "depreciationAndAmortization" : "Depreciation & Amortization",
                                                                               "deferredIncomeTax" : "Deferred Income Tax",
                                                                                "stockBasedCompensation" : "Stock-Based Compensation",
                                                                               "changeInWorkingCapital" : "Change In Working Capital",
                                                                                "accountsReceivables" : "Accounts Receivable",
                                                                               "inventory" : "Inventory", 
                                                                                "accountsPayables" : "Account Payables",
                                                                                "otherWorkingCapital" : "Other Working Capital",
                                                                               "otherNonCashItems" : "Other Non-Cash Items",
                                                                               "netCashProvidedByOperatingActivities" : "Net Cash Flow From Operating Activities",
                                                                               "investmentsInPropertyPlantAndEquipment" : "Property Plant & Equipment Investments",
                                                                               "acquisitionsNet" : "Net Acquisitions",
                                                                               "purchasesOfInvestments" : "Invesment Purchases",
                                                                               "salesMaturitiesOfInvestments" : "Investment Maturities Sales",
                                                                               "otherInvestingActivites" : "Other Investing Activities",
                                                                               "netCashUsedForInvestingActivites" : "Net Cash Flow From Investing Activities",
                                                                               "debtRepayment" : "Debt Repayment",
                                                                               "commonStockIssued" : "Common Stock Issued",
                                                                               "commonStockRepurchased" : "Common Stock Repurchased",
                                                                               "dividendsPaid" : "Dividends Paid",
                                                                               "otherFinancingActivites" : "Other Financing Activities",
                                                                               "netCashUsedProvidedByFinancingActivities" : "Net Cash Flow From Financing Activities",
                                                                               "effectOfForexChangesOnCash" : "Effect Of Exchange Rate Changes On Cash",
                                                                               "netChangeInCash" : "Net Change In Cash",
                                                                               "cashAtEndOfPeriod" : "Cash At End Of Period",
                                                                               "cashAtBeginningOfPeriod" : "Cash At Beginning Of Period",
                                                                               "operatingCashFlow" : "Operating Cash Flow",
                                                                               "capitalExpenditure" : "Capital Expenditure",
                                                                               "freeCashFlow" : "Free Cash Flow"})

# Setting DataFrame Index to "Year"
rivian_cash_flow_statement_df = rivian_cash_flow_statement_df.set_index("Year")

# Formatting Numbers To Currency Format For $USD
rivian_cash_flow_statement_df_currency_styled = rivian_cash_flow_statement_df.style.format("{0:,.2f} ($)")

# Displaying Cleaned Cash Flow Statement For Rivian's Last 4 Years
rivian_cash_flow_statement_df_currency_styled